@model  List<CareLib.ViewModel.DoctorViewModel>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model,
                                rowsPerPage: 5, selectionFieldName: "SelectedRow");

}
@*default width webgrid-513px*@
<style type="text/css">
    .webGrid
    {
        margin: 4px;
        border-collapse: collapse;
        width: 713px;
        z-index: 0;
    }
    .header
    {
        background-color: #E8E8E8;
        font-weight: bold;
        color: #FFF;
        z-index: 1;
    }
    .webGrid th, .webGrid td
    {
        border: 1px solid #C0C0C0;
        padding: 5px;
        height: 1px;
    }
    .alt
    {
        background-color: #E8E8E8;
        color: #000;
    }
    .person
    {
        width: 200px;
        font-weight: bold;
    }
    .fixedheadertable
    {
        left: 0px;
        position: relative;
        top: 0px;
        padding-right: 2px;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>
<h2>
    Index</h2>
@* <div style =" background-color:#E8E8E8;  
        height:40px;width:500px; margin:0;padding:0">*@
<table cellspacing="0" cellpadding="0" rules="all" border="1" id="tblHeader" class="header"
    style="height: 50px; margin-top: -5px; z-index: 1; position: absolute;">
    <tr>
        <td style="width: 215px; text-align: center">
            Doctor Name
        </td>
        <td style="width: 192px; text-align: center">
            Email
        </td>
        <td style="width: 46px; text-align: center">
            Sex
        </td>
        <td style="width: 60px; text-align: center">
        </td>
    </tr>
</table>
<div style="height: 120px; width: 540px; overflow: auto;">    </div>
    @*<div id='table-container'>*@
    @grid.GetHtml(htmlAttributes: new { id = "gvTheGrid" },
tableStyle: "webGrid", headerStyle: "header",
alternatingRowStyle: "alt",
columns: grid.Columns(
    grid.Column("DoctorFullName", "Doctor Name", canSort: true, style: "person"),
    grid.Column("DocEmail", "Email", canSort: false,
                    format: (item) => (item.DocEmail != null) ?
                            Html.Raw("<img src='../Images/mail.png' alt='mail'/>")
                            : Html.Raw("<img src='../Images/emailnotfound.png' alt='emailnotfound'/>")),
    grid.Column("Sex", "Sex", canSort: false),
    grid.Column(header: null, canSort: false,
                    format: @<text>@Ajax.ActionLink("Select", "Details",
                           new { Docid = @item.DocID },
                           new CareForU.Models.BaseClasses.BaseAjax("UpDateDetails", "GET", null))
    </text>),
    grid.Column(header:"Delete",
                    format:@<text>
                    <a href="@Url.Action("Index")" 
                    onclick="javascript:return ConfirmDelete('@item.DoctorFullName');" > 
                    <img src="../../Images/deletedoc.png" alt="Delete Doc" />
                    </a>
    
    </text>)
    ))

@section scripts
{
    <script type="text/javascript">

    function ConfirmDelete(name)
    {
    return confirm("Are you sure you want to delete Dr."+name);
    }
//        function UpdateGrid() { 
//        @Html.Raw(HttpUtility.HtmlDecode(grid.GetContainerUpdateScript("/?Docid=" + (grid.PageIndex)).ToString()))
//        }
//    </script>
}
<div id="UpDateDetails">
</div>
@*<a href="@Url.Action("Details",new {Docid="2"})">
    <img src="../../Images/fb.jpeg" alt="" />
                    (item) => (item.DocEmail ?? "Not Available")
</a>
*@