@model  List<CareLib.ViewModel.DoctorViewModel>
<h3>@ViewBag.Tittle
</h3>
<div id="content">
    @foreach (var item in Model)
    {
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 800px;">
                        <h3>@item.DoctorFullName
                        </h3>
                    </td>
                    <td style="text-align: right;">
                        <table style="margin-bottom: -6px;" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        @*                                        <a href="mailto:victor@c">*@ <a href="mailto:@item.DocEmail">
                                            <img src="http://cfy.iigrowth.com/wp-content/uploads/email.png" alt="" /></a>
                                    </td>
                                    <td>
                                        @CareForYouHelpers.fbpic(@item.Docfbacc)
                                        @*  <a href="http://www.linkedin.com/pub/victor-van-de-moortel/4/aba/122">
                                            <img src="http://cfy.iigrowth.com/wp-content/uploads/linkedin.png" alt="" /></a>*@
                                    </td>
                                    <td>
                                        @CareForYouHelpers.twitterpic(@item.Doctwitteracc)
                                    </td>
                                    <td>
                                        @CareForYouHelpers.linkdnpic(@item.Doclinkdnacc)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <img class="alignright size-medium wp-image-48"
                         title="@item.DoctorFullName" src="@Url.Content("~/Images/" +@item.DocPhoto)"
                            alt="@item.DoctorFullName" width="248" />
                    </td>
                    <td style="padding-left: 15px; vertical-align: top;">
                        <strong><a href="/Doctor/Details/@item.DocID"> @item.DoctorFullName</a></strong> @item.DocDescription
                    </td>
                </tr>
            </tbody>
        </table>
    
    }
</div>
