@model CareLib.Models.CompanyDetail

<fieldset>
    <legend>CompanyDetail</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyTitle)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyTitle)
        @Html.ValidationMessageFor(model => model.CompanyTitle)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyName)
        @Html.ValidationMessageFor(model => model.CompanyName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyAddress)
        @Html.ValidationMessageFor(model => model.CompanyAddress)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyAddress2)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyAddress2)
        @Html.ValidationMessageFor(model => model.CompanyAddress2)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyState)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyState)
        @Html.ValidationMessageFor(model => model.CompanyState)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyCountry)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyCountry)
        @Html.ValidationMessageFor(model => model.CompanyCountry)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyZipCode)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyZipCode)
        @Html.ValidationMessageFor(model => model.CompanyZipCode)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
